* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 20vh; 
}

.Header {
    font-size: 200%;
    text-align: center; 
    margin: 0 auto;
}

.niyaya {
    font-size: 150%;
    text-align: center; 
    margin: 0 auto; 
}

.GIF img {
    display: block;
    margin: 0 auto; 
    margin-top: 10%;
    max-width: 100%; /* Ensures the image doesn't exceed its container */
}

.buttons {
    width: 90%; /* Adjusted for smaller screens */
    max-width: 300px; /* Limiting the maximum width for larger screens */
    text-align: center; 
    margin: 0 auto; 
    padding: 0.5%;
    
}

.buttons button {
    padding: 1%;
    width: 40%; /* Adjusted for smaller screens */
    margin: 1%;
    font-size:larger;
    font-weight: 500;
    color: white;
    background-color: purple;
}

/* Media query for screens smaller than 768px (typical mobile screens) */
@media screen and (max-width: 768px) {
    .Header {
        font-size: 150%; /* Decrease font size for smaller screens */
    }
    
    .niyaya {
        font-size: 120%; /* Decrease font size for smaller screens */
    }
    
    .buttons {
        width: 90%; /* Adjust width to fit smaller screens */
    }
    
    .buttons button {
        width: 40%; /* Adjust button width for smaller screens */
    }
}
